@import "../assets/global.scss";

.signature__container {
  display: flex;
  flex-flow: column nowrap;

  .signature__header {
    display: flex;
    justify-content: space-between;

    section {
      display: flex;
      align-items: center;
      font-size: 0.75rem;
      max-width: 50%;

      &:last-of-type {
        justify-content: flex-end;
      }

      span:nth-child(2) {
        margin-left: 0.25rem;
      }
    }
  }

  .signature__username {
    margin-top: 1rem;
    font-family: "handwriting";
    text-align: center;
    font-size: 3rem;
  }
}
