@import "../assets/global.scss";

.suggestion__container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  .suggestion__admin {
    margin-top: -1rem;
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.5;
    transition: opacity 0.3s;
    padding: 1rem;

    &:hover {
      opacity: 1;
    }

    span {
      font-size: 0.75rem;
      margin-left: 0.25rem;
    }

    .suggestion__visibility {
      display: flex;
      align-items: center;
      align-self: flex-end;
    }

    .confirm__changes {
      display: flex;
      align-items: center;
    }

    @media (min-width: 575px) {
      margin-top: -2rem;
    }
  }

  .suggestion__header {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;

    .suggestion__icons {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;

      section {
        display: flex;
        align-items: center;
        max-width: 50%;

        &:last-of-type {
          justify-content: flex-end;
        }

        span:nth-child(2) {
          margin-left: 0.25rem;
          font-size: 0.75rem;
          font-weight: bold;
        }
      }
    }
  }

  .suggestion__signatures {
    font-size: 0.75rem;
    font-weight: bold;
  }

  .suggestion__title {
    align-self: baseline;
  }

  .suggestion__description {
    align-self: baseline;
    line-height: 1.25rem;
    margin: 1rem 0;
  }
}
