@import "../assets/global.scss";

.suggestion__container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  .suggestion__admin {
    margin-top: -1rem;
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    span {
      font-size: 0.75rem;
      margin-left: 0.25rem;
    }

    .confirm__changes,
    .suggestion__visibility {
      display: flex;
      align-items: center;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.2);
      }
    }

    @media (min-width: 575px) {
      margin-top: -2rem;
    }
  }

  .suggestion__header {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;

    .suggestion__icons {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;

      section {
        display: flex;
        align-items: center;
        max-width: 50%;

        &:last-of-type {
          justify-content: flex-end;
        }

        span:nth-child(2) {
          margin-left: 0.25rem;
          font-size: 0.75rem;
          font-weight: bold;
        }
      }
    }
  }

  .title__container {
    display: flex;
    align-items: center;
    align-self: baseline;

    .suggestion__title {
      margin-right: 0.5rem;
    }
    .title__change {
      margin-right: 0.5rem;
    }
  }

  .description__container {
    display: flex;
    align-items: center;
    align-self: baseline;
    margin: 1rem 0;

    .suggestion__description {
      line-height: 1.25rem;
      margin-right: 0.5rem;
    }

    .description__change {
      margin-right: 0.5rem;
    }
  }

  .suggestion__signatures {
    font-size: 0.75rem;
    font-weight: bold;
  }

  .delete__confirm {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: -20px;
    margin-top: 1rem;
    align-self: end;
    padding-bottom: 1rem;

    .delete__heading {
      font-size: 0.75rem;
    }

    .delete__icons {
      display: flex;
      width: 100%;
      padding-top: 0.5rem;
      justify-content: space-between;

      span {
        transition: transform 0.3s;

        &:hover {
          transform: scale(1.2);
        }
      }
    }

    @media (min-width: 575px) {
      padding-bottom: 0;
    }
  }

  .suggestion__delete {
    align-self: flex-end;
    margin-top: 1rem;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.2);
    }
  }
}
