@import "../assets/global.scss";

.suggestion__container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  .suggestion__header {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;

    .suggestion__visibility {
      opacity: 0.5;
      display: flex;
      align-items: center;
      margin-top: 0rem;
      position: relative;
      bottom: 1rem;
      left: 1rem;
      align-self: flex-end;
      transition: opacity 0.3s;
      padding: 0.5rem;

      &:hover {
        opacity: 1;
      }

      span {
        font-size: 0.75rem;
      }

      input[type="checkbox"] {
        margin-left: 0.5rem;
      }

      @media (min-width: 575px) {
        margin-top: -1.5rem;
        left: 2.5rem;
      }
    }

    .suggestion__icons {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;

      section {
        display: flex;
        align-items: center;

        &:last-of-type {
          justify-content: flex-end;
        }

        span:nth-child(2) {
          margin-left: 0.25rem;
          font-size: 0.75rem;
          font-weight: bold;
        }
      }
    }
  }

  .suggestion_signatures {
    font-size: 0.75rem;
    font-weight: bold;
  }

  .suggestion__title {
    align-self: baseline;
  }

  .suggestion__description {
    align-self: baseline;
    line-height: 1.25rem;
    margin: 1rem 0;
  }
}
