@import "../assets/global.scss";

.header__container {
  align-self: baseline;
  width: 100%;

  .account__toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    span:first-of-type {
      font-size: 3rem;
    }

    .account__status {
      font-weight: bold;
      margin-left: 0.5rem;
    }
  }

  @media (min-width: 1280px) {
    grid-column: 1/3;
    width: 40%;
    justify-self: center;
  }

  @media (min-width: 1921px) {
    grid-column: 1/4;
    width: 30%;
  }
}
