body {
  color: blue;
  padding: 2rem;
}

input[type="submit"] {
  background-color: blue;
  border: none;
  color: white;
  padding: 1.5rem;
  width: 100%;
  cursor: pointer;
  border-radius: 7px;
}

.disabled {
  border-radius: 7px;
  padding: 1.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.12);
  background-color: darkgrey !important;
  color: black !important;
  text-align: center;
  cursor: default !important;
}

.fancy {
  border-radius: 7px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.12);
  transition: all 0.3s;
  padding: 3rem;

  &:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.36);
  }
}

.error {
  color: red;
  font-size: 0.75rem;
  margin: 0.5rem 0 1rem 0;
  font-weight: bold;
}

.slide-enter {
  transform: translateY(-300%);
}
.slide-enter-active {
  transform: translateY(0);
  transition: transform 300ms;
}
.slide-exit {
  transform: translateY(0);
}
.slide-exit-active {
  transform: translateY(-300%);
  transition: transform 300ms;
}

.pop-enter {
  transform: scale(0);
}
.pop-enter-active {
  transform: scale(1);
  transition: transform 300ms;
}
.pop-exit {
  transform: scale(1);
}
.pop-exit-active {
  transform: scale(0);
  transition: transform 300ms;
}
