@import "../assets/global.scss";

.wrapper {
  display: grid;
  gap: 2rem;
  justify-content: center;

  .empty__header {
    font-weight: bold;
    color: blue;
    grid-column: 1/3;
    text-align: center;
  }

  .suggestion__add {
    position: fixed;
    bottom: 4rem;
    font-size: 4rem;
    justify-self: end;
    transition: transform 0.3s;
    cursor: pointer;

    &:hover {
      transform: scale(2);
    }
  }

  @media (min-width: 1280px) {
    grid-template-columns: 1fr 1fr;
  }
}
