@import "../assets/global.scss";

.wrapper {
  display: grid;
  grid-template-rows: 1fr;
  gap: 2rem;
  justify-content: center;

  .suggestion__add {
    font-size: 4rem;
    justify-self: end;
    transition: transform 0.3s;
    cursor: pointer;

    &:hover {
      transform: scale(2);
    }
  }
}
