.wrapper {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;

  .content__container {
    margin-top: 2rem;
    display: grid;
    gap: 2rem;
    justify-content: center;
  }

  .signature__button {
    background-color: blue;
    padding: 1.5rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
  }

  .signatures__heading {
    font-weight: bold;
  }
}
